<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", data) %> 
<body>
    <%- include("../partials/header") %> 
    <main>
        <article id="main-box">
            <section id="box">
                <form action="/products/save" method="post" id="create-product-form" enctype="multipart/form-data">
                    <h4>Añadir un nuevo producto</h4>
                    <input type="text" name="name" id="name" placeholder="Nombre del producto">
                    <textarea name="description" id="description" cols="30" rows="6" style="resize: none;" placeholder="Descripción"></textarea>
                    <input type="number" name="price" id="price" placeholder="Valor">
                    <h3 class="select-label">Categoría</h3>
                    <select name="category" id="category">
                        <option value="Captura">Captura</option>
                        <option value="Botiquín">Botiquín</option>
                        <option value="Objetos">Objetos</option>
                        <option value="Combate">Combate</option>
                    </select>
                    <h3 class="select-label">Generación</h3>
                    <select name="gen" id="gen">
                        <option value="1">1 - RBG</option>
                        <option value="2">2 - GSC</option>
                        <option value="3">3 - RSE</option>
                        <option value="4">4 - HGSS</option>
                        <option value="5">5 - BW</option>
                    </select>
                    <h3 class="select-label">Imagen</h3>
                    <input type="file" name="image" id="image">
                    <section class="button-sect">
                        <button type="submit">Enviar</button>
                        <button type="reset">Limpiar</button>
                    </section>
                </form>
            </section>
        </article>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>