<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del producto - Pokemart</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <audio src="/sound/a-button.mp3" autoplay="true"></audio>
    <header>
        <section id="header-top">
            <a href="/cart" id="cart-icon">
                <i class="fa-solid fa-shopping-cart"></i>
            </a>
            <a id="main-logo" href="/">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <a href="/access" id="login-button">
                <i id="user-icon" class="fa-solid fa-user"></i>
                <article id="login-laptop">
                    <i id="user-icon-laptop" class="fa-solid fa-user"></i>
                    <p>Ingresar</p>
                </article>
            </a>
        </section>
        <nav id="header-bot">
            <a href="/product" class="header-link">
                <img src="/img/escaperope-icon.png" alt="Icono Cuerda Huida" class="nav-icon">
                <p class="nav-title">Objetos</p>
            </a>
            <a href="/product" class="header-link">
                <img src="/img/xattack-icon.png" alt="Icono Ataque X" class="nav-icon">
                <p class="nav-title">Combate</p>
            </a>
            <a href="/product" class="header-link">
                <img src="/img/potion-icon.png" alt="Icono Pocion" class="nav-icon">
                <p class="nav-title">Botiquin</p>
            </a>
            <a href="/product" class="header-link">
                <img src="/img/pokeball-icon.png" alt="Icono Poke Ball" class="nav-icon">
                <p class="nav-title">Captura</p>
            </a>
            <audio id="ambient" src="/sound/pokemon-center.ogg" loop="true" controls controlsList="nodownload noplaybackrate"></audio>
        </nav>
    </header>
    <main>
        <section id="main-box">
            <picture><img src="/img/items/pokeball.png" alt=""></picture>
            <article id="product-box">
                <h2 id="product-title">PokeBall</h2>
                <h4 id="product-category">Categoría: <i>Captura</i></h4>
                <p id="product-description">Dispositivo con diseño capsular que atrapa Pokemon salvajes. Se lanza como una bola contra el blanco</p>
                <h3 id="product-price">$200 <i>c/u</i></h3>
                <input type="radio" name="buy" id="buy">
                <input type="radio" name="buy" id="cancel-buy">
                <label class="buy-button" id="mobile-buy-button" for="buy">Comprar</label>
                <label class="buy-button" id="tablet-buy-button" for="buy">Comprar <i class="fa-solid fa-shopping-cart"></i></label>
                <label class="buy-button" id="desktop-buy-button" for="buy">Añadir al carrito <i class="fa-solid fa-shopping-cart"></i></label>
                <section id="post-buy">
                    <p>Cuantas unidades quieres?</p>
                    <ul>
                        <li class="quantity-mod">-</li>
                        <li class="quantity">1</li>
                        <li class="quantity-mod">+</li>
                    </ul>
                    <button>Comprar</button>
                    <label for="cancel-buy">Cancelar</label>
                </section>
            </article>
        </section>
        <section id="article-box">
            <h2>Productos relacionados</h2>
            <ul id="related-ul">
                <li class="related-li">
                    <a href="/product">
                        <img src="/img/items/superball.png" alt="Superball">
                        <article>
                            <h4>Superball</h4>
                            <h5>$600</h5>
                        </article>
                    </a>
                </li>
                <li class="related-li">
                    <a href="/product">
                        <img src="/img/items/ultraball.png" alt="Ultraball">
                        <article>
                            <h4>Ultraball</h4>
                            <h5>$1200</h5>
                        </article>
                    </a>
                </li>
                <li class="related-li">
                    <a href="/product">
                        <img src="/img/items/potion.png" alt="Potion">
                        <article>
                            <h4>Pocion</h4>
                            <h5>$200</h5>
                        </article>
                    </a></li>
                <li class="related-li">
                    <a href="/product">
                        <img src="/img/items/superpotion.png" alt="Superpotion">
                        <article>
                            <h4>Superpocion</h4>
                            <h5>$500</h5>
                        </article>
                    </a>
                </li>
                <li class="related-li">
                    <a href="/product">
                        <img src="/img/items/revive.png" alt="Revive">
                        <article>
                            <h4>Revivir</h4>
                            <h5>$750</h5>
                        </article>
                    </a>
                </li>
                <li class="related-li">
                    <a href="/product">
                        <img src="/img/items/escaperope.png" alt="Escaperope">
                        <article>
                            <h4>Cuerda Huida</h4>
                            <h5>$350</h5>
                        </article>
                    </a>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <nav>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Contacto</a>
            <a href="#">Terminos y Condiciones</a>
            <a href="#">Política de Privacidad</a>
        </nav>
        <p>Página creada por Aylen Martinez</p>
    </footer>
</body>
</html>