@import url("./partials/header.css");
@import url("./partials/footer.css");

main #cart-cont{
    background-color: var(--blanco);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

#main-box {
    background-color: var(--celeste);
    border: 1px solid #030303;
    width: 67%;
    margin: 10px 0;
    min-height: 50vh;
}

#main-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    padding: 10px;
}

#main-header h3 {
    font-size: 25px;
    margin-right: 5px;
}

#main-header p {
    position: absolute;
    right: 10px;
    font-weight: 600;
}

#main-list {
    display: flex;
    flex-direction: column;
}

#main-list li.each-prod {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--celesteplus);
    margin: 4px;
    border: 1px solid #030303;
    border-radius: 5px;
}

#main-list li.each-prod section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.each-prod img {
    width: 60px;
    background-color: var(--blanco);
    margin: 5px;
}

#checkout-box {
    background-color: var(--celeste);
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

#checkout-header {
    font-size: 25px;
    padding-bottom: 10px;
}

#checkout-list {
    display: flex;
    flex-direction: column;
}

#checkout-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.separator {
    background-color: #030303;
    width: 50%;
    height: 2px;
    margin: 10px;
}

#checkout-final {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#final-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

#final-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.without-ship {
    font-size: 15px;
}

.ship {
    font-weight: 400;
    font-size: 15px;
}

#buy-button {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid #030303;
    border-radius: 15px;
    text-align: center;
}