<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - Pokemart</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <audio src="/sound/a-button.mp3" autoplay="true"></audio>
    <header>
        <section id="header-top">
            <audio src="/sound/a-button.mp3" autoplay="true"></audio>
            <a id="main-logo" href="/">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <a href="/access" id="login-button">
                <i id="user-icon" class="fa-solid fa-user"></i>
                <article id="login-laptop">
                    <i id="user-icon-laptop" class="fa-solid fa-user"></i>
                    <p>Ingresar</p>
                </article>
            </a>
        </section>
        <nav id="header-bot">
            <a href="/product" class="header-link">
                <img src="/img/escaperope-icon.png" alt="Icono Cuerda Huida" class="nav-icon">
                <p class="nav-title">Objetos</p>
            </a>
            <a href="/product" class="header-link">
                <img src="/img/xattack-icon.png" alt="Icono Ataque X" class="nav-icon">
                <p class="nav-title">Combate</p>
            </a>
            <a href="/product" class="header-link">
                <img src="/img/potion-icon.png" alt="Icono Pocion" class="nav-icon">
                <p class="nav-title">Botiquin</p>
            </a>
            <a href="/product" class="header-link">
                <img src="/img/pokeball-icon.png" alt="Icono Poke Ball" class="nav-icon">
                <p class="nav-title">Captura</p>
            </a>
            <audio id="ambient" src="/sound/pokemon-center.ogg" loop="true" controls controlsList="nodownload noplaybackrate"></audio>
        </nav>
    </header>
    <main>
        <div id="cart-cont">
            <div id="main-box">
                <section id="main-header">
                    <h3>Carrito</h3>
                    <a id="delete-cart" href="#">Borrar todo</a>
                    <p>2 productos</p>
                </section>
                <ul id="main-list">
                    <li class="each-prod">
                        <picture><img src="/img/items/pokeball.png" alt="Pokeball"></picture>
                        <section>
                            <h2>Pokeball</h2>
                            <i>Categoría: Captura</i>
                            <span>
                                <input type="checkbox" id="ship-checkbox" name="ship-checkbox">
                                <label for="ship-checkbox">Envío?</label>
                            </span>
                        </section>
                        <input type="number" id="st-quantity" name="st-quantity" min="1" max="99" value="2" disabled>
                        <h2>$400</h2>
                    </li>
                    <li class="each-prod">
                        <picture><img src="/img/items/superball.png" alt="Pokeball"></picture>
                        <section>
                            <h2>Superball</h2>
                            <i>Categoría: Captura</i>
                            <span>
                                <input type="checkbox" id="ship-checkbox" name="ship-checkbox">
                                <label for="ship-checkbox">Envío?</label>
                            </span>
                        </section>
                        <input type="number" id="nd-quantity" name="nd-quantity" min="1" max="99" value="1" disabled>
                        <h2>$500</h2>
                    </li>
                </ul>
            </div>
            <section id="checkout-box">
                <h3 id="checkout-header">Resumen</h3>
                <ul id="checkout-list">
                    <li><h4>Pokeball x2</h4><h3>$400</h3></li>
                    <li><h4>Superball x1</h4><h3>$500</h3></li>
                </ul>
                <div class="separator"></div>
                <section id="checkout-final">
                    <ul id="final-list">
                        <li><h4 class="without-ship">Total sin cargos</h4> <h4 class="without-ship">$900</h4></li>
                        <li><h4 class="ship">Envío</h4> <h4 class="ship">$225</h4></li>
                        <li><h3 class="total">Precio final</h3> <h3 class="total">$1125</h3></li>
                    </ul>
                    </section>
                <div class="separator"></div>
                <a id="buy-button" href="#">Finalizar la compra</a>
            </section>
        </div>
    </main>
    <footer>
        <nav>
            <a href="#">Preguntas Frecuentes</a>
            <a href="#">Contacto</a>
            <a href="#">Terminos y Condiciones</a>
            <a href="#">Política de Privacidad</a>
        </nav>
        <p>Página creada por Aylen Martinez</p>
    </footer>
</body>
</html>