/* @import url("../normalize.css"); /* Importo el archivo normalize que cree para aplicarselo a todos los elementos */
/*@import url("./animations.css"); */

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

/* Comienza el estilo del header en formato mobile */

header #header-top { /* Comienzo a editar la barra superior del header */
    background-color: #38CDD8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-height: 17vh;
    color: #0892A2;
}

header #header-top #cart-icon { /* Edito el carrito */
    background-color: snow;
    font-size: 1.4rem;
    padding: 10px;
    border: 2px solid #0892A2;
    border-radius: 50%;
    margin: 1vh;
    position: absolute;
    left: 5%;
    box-shadow: 1px 1px 4px black;
}

header #header-top #cart-icon:active, header #header-top #user-icon:active { /* Efecto para la activación de ambos menúes superiores */
    background-color: #0892A2;
    color: snow;
    box-shadow: none;
    border: 2px solid snow;
}

header #header-top #main-logo img { /* Edito mi logo principal */
    max-height: 14vh;
}

header #header-top #login-button { /* Defino la ubicación del espacio para el botón de login */
    position: absolute;
    right: 5%;
}

header #header-top #user-icon { /* Edito el icono para mobile */
    background-color: snow;
    font-size: 1.4rem;
    padding: 10px;
    border: 2px solid #0892A2;
    border-radius: 10%;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 4px black;
}

header #header-top #login-laptop { /* Edito el boton de login/registro */
    display: none;
}

header #header-top #login-laptop p { /* Edito el boton de login/registro */
    margin: auto;
}

/* ---------------- Finaliza la edición de la barra superior del header ---------------- */


header #header-bot { /* Comienzo a editar la barra inferior del header */
    background-color: #0892A2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.header-link { /* Orden y alineación de la barra de navegación */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header #header-bot .nav-title { /* Elimino los titulos en la vista mobile */
    color: snow;
    display: none;
}

header #header-bot .nav-icon {
    height: 6vh;
    margin: 0 15px;
}

header #header-bot .header-link { /* Detalles a los botones de navegación */
    /* border: 1px solid transparent; */
}

header #header-bot .header-link:active {
    background-color: #38CDD8;
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
}

#create-link {
    position: absolute;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

@media screen and (min-width:768px) { /* Tamaño tablet */
    header #header-top #cart-icon, header #header-top #user-icon {
        font-size: 1.7rem;
        padding: 14px;
    }

    header #header-bot .nav-icon {
        margin: 0;
        margin-left: 15px;
    }

    header #header-bot .nav-title {
        display: block;
        font-size: 1.5rem;
        padding-left: 6px;
        margin-right: 15px;
    }
    header #header-bot .header-link {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) { /* Tamaño laptop */
    header #header-top #login-laptop { /* Agrego los detalles del botón grande */
        display: flex;
        background-color: snow;
        color: #0892A2;
        font-size: 1.1rem;
        padding: 10px;
        border: 2px solid #0892A2;
        border-radius: 10%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        box-shadow: 1px 1px 4px black;
    }
    header #header-top #login-laptop:active {
        background-color: #0892A2;
        color: snow;
        box-shadow: none;
        border: 2px solid snow;
    }
    header #header-top #login-laptop #user-icon-laptop {
        font-size: 1.3rem;
        padding: 5px;
    }

    header #header-top #user-icon {
        display: none; /* Elimino el icono de user */
    }
    
    header #header-bot .header-link.selected-link {
        background-color: #067480;
    }
}