<footer>
    <nav>
        <a href="#">Preguntas Frecuentes</a>
        <a href="#">Contacto</a>
        <a href="#">Terminos y Condiciones</a>
        <a href="#">Política de Privacidad</a>
    </nav>
    <p>Página creada por Aylen Martinez</p>
</footer>