<audio src="/sound/a-button.mp3" autoplay="true"></audio>
    <header>
        <section id="header-top">
            <a href="/cart" id="cart-icon">
                <i class="fa-solid fa-shopping-cart"></i>
            </a>
            <a id="main-logo" href="/">
                <img src="/img/logo.png" alt="Logo">
            </a>
            <a href="/access" id="login-button">
                <i id="user-icon" class="fa-solid fa-user"></i>
                <article id="login-laptop">
                    <i id="user-icon-laptop" class="fa-solid fa-user"></i>
                    <p>Ingresar</p>
                </article>
            </a>
        </section>
        <nav id="header-bot">
            <a href="/products" class="header-link">
                <img src="/img/escaperope-icon.png" alt="Icono Cuerda Huida" class="nav-icon">
                <p class="nav-title">Objetos</p>
            </a>
            <a href="/products/detail" class="header-link">
                <img src="/img/xattack-icon.png" alt="Icono Ataque X" class="nav-icon">
                <p class="nav-title">Combate</p>
            </a>
            <a href="/products" class="header-link">
                <img src="/img/potion-icon.png" alt="Icono Pocion" class="nav-icon">
                <p class="nav-title">Botiquin</p>
            </a>
            <a href="/products" class="header-link">
                <img src="/img/pokeball-icon.png" alt="Icono Poke Ball" class="nav-icon">
                <p class="nav-title">Captura</p>
            </a>
            <audio id="ambient" src="/sound/pokemon-center.ogg" loop="true" controls controlsList="nodownload noplaybackrate"></audio>
        </nav>
    </header>