<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", data) %> 
<body>
    <%- include("../partials/header") %> 
    <main>
        <article id="main-box">
            <input type="radio" name="signin" id="signin-back">
            <input type="radio" name="signup" id="signup-back">
            <input type="radio" name="signin" id="signin">
            <input type="radio" name="signup" id="signup">
            <label for="signin" id="signin-label">
                Ya tienes una cuenta?
            </label>
            <label for="signup" id="signup-label">
                Aún no formas parte?
            </label>
            <label for="signup-back" id="tengo-cuenta" class="back-buttons"><i class="fa-solid fa-caret-left"></i> Volver</label>
            <label for="signin-back" id="no-cuenta" class="back-buttons">Volver <i class="fa-solid fa-caret-right"></i></label>
            <section id="box">
                <form action="/login" method="post" id="login-form">
                    <h4>Ingreso</h4>
                    <input type="email" id="login-email" placeholder="Correo electrónico">
                    <input type="password" id="login-password" placeholder="Contraseña">
                    <section class="button-box"><button>Entrar</button></section>
                </form>
                <form action="/register" method="post" id="register-form">
                    <h4>Registro</h4>
                    <input type="text" name="username" id="username" placeholder="Nombre de Usuario">
                    <input type="email" name="email" id="email" placeholder="Correo">
                    <input type="email" name="emailConf" id="emailConf" placeholder="Repite tu Correo">
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                    <input type="password" name="passwordConf" id="passwordConf" placeholder="Confirma la Contraseña">
                    <h6>Elige tu avatar</h6>
                    <ul id="avatar-selector">
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar1"><label for="avatar1" class="avatar"><img src="/img/avatar/m1.png" alt="avatar1" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar2"><label for="avatar2" class="avatar"><img src="/img/avatar/m2.png" alt="avatar2" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar3"><label for="avatar3" class="avatar"><img src="/img/avatar/m3.png" alt="avatar3" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar4"><label for="avatar4" class="avatar"><img src="/img/avatar/m4.png" alt="avatar4" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar5"><label for="avatar5" class="avatar"><img src="/img/avatar/m5.png" alt="avatar5" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar6"><label for="avatar6" class="avatar"><img src="/img/avatar/f1.png" alt="avatar6" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar7"><label for="avatar7" class="avatar"><img src="/img/avatar/f2.png" alt="avatar7" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar8"><label for="avatar8" class="avatar"><img src="/img/avatar/f3.png" alt="avatar8" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar9"><label for="avatar9" class="avatar"><img src="/img/avatar/f4.png" alt="avatar9" class="avatar-img"></label></li>
                        <li class="avatar-item"><input type="radio" name="avatar" id="avatar10"><label for="avatar10" class="avatar"><img src="/img/avatar/f5.png" alt="avatar10" class="avatar-img"></label></li>
                    </ul>
                    <section class="button-sect">
                        <button>Registrarse</button>
                        <button type="reset">Limpiar</button>
                    </section>
                </form>
            </section>
        </article>
    </main>
    <%- include("../partials/footer") %> 
</body>
</html>